<div id="footer" class="clear">
	<div id="footer_text">
		<a href="/about">About SDWaterWatch</a> &nbsp;
		<a href="/faq">FAQ</a> &nbsp;
		<a href="http://groups.google.com/group/sdwaterwatch">Tell Us What You Think!</a> &nbsp;
    <a href="http://sdwaterwatch.org/terms.html">Terms of Service</a> &nbsp;
    <a href="http://sdwaterwatch.org/privacy.html">Privacy Policy</a>
	</div>
</div>
